h1{
text-align: center;
}
#month{
padding:10px;
display:inline-block;
width: 20%;
color: red;
}
@media screen and (max-width:900px) {
#month{
width: 30%;
}
}
@media screen and (max-width:600px) {
#month{
width: 50%;
}
}
@media screen and (max-width:120px) {
#month{
width: 100%;
}
}